<ng-container *ngIf="props.cntrType=='FORM'">
        <ul id="{{props.id}} + '_ul'" #wrapperClasses clickstoppropagation>
            <li #labelWrapper >
                <ng-container *ngIf="(props.hasLabelIcon === 'Y' && props.labelIconProps.iconPos==='LEFT')"  [ngTemplateOutlet]="labelIconContent">
            	</ng-container>

	            <label #labelProps  [innerHtml]="props.labelProps.title">
	            </label>
	            
	            <ng-container *ngIf="(props.hasLabelIcon === 'Y' && props.labelIconProps.iconPos!=='LEFT')"  [ngTemplateOutlet]="labelIconContent">
	            </ng-container>
            </li>
            <li #contentWrapper>
                <span #spanWrapper>
                <span #inpBtnWrapper>
                    <ng-container *ngTemplateOutlet="labelButtonPosition"></ng-container>
                </span>
            </span>
        </li>
    </ul>
</ng-container>
<ng-container *ngIf= "props.cntrType=='TABLE'">
        <td [attr.id]="(rowIndex != undefined) ?('td_'+ props.id + '_' + rowIndex):('td_'+ props.id)" class="{{props.tdClasses}}">
                <span [id]="(rowIndex != undefined) ?(props.id + '_span_'+ rowIndex):(props.id + '_span')" #inpBtnWrapper>
                        <ng-container *ngTemplateOutlet="labelButtonPosition"></ng-container>
            </span>
        </td>
</ng-container>

<ng-container *ngIf="props.cntrType == 'NAVBAR' || props.cntrType == 'LIST'">
        <span #inpBtnWrapper>
                <ng-container *ngTemplateOutlet="labelButtonPosition"></ng-container>
            </span>
</ng-container>

<ng-template #labelButtonPosition>
<ng-container *ngIf="props.buttonPosition == 'LEFT'">
    <span #buttonWrapper >
        <button #buttonContent (click)="buttonClickEvent($event)">
            <ng-container *ngTemplateOutlet="labelbuttonContent"></ng-container>
        </button>
    </span>
    <span>
        <ng-container *ngIf="!isUiElm()">
            <input id="{{id}}" [(ngModel)]="values[elm]" attr.rowno="{{index}}" (change)="setHandler()"
             #content delegateEvent [blurEvent]="blur" [focusEvent]="focus"/>
        </ng-container> 

        <ng-container *ngIf="isUiElm()">
            <input id="{{id}}" [(ngModel)]="value" attr.rowno="{{index}}" (change)="setHandler()" 
            #content delegateEvent [blurEvent]="blur" [focusEvent]="focus"/>
        </ng-container>
    </span>
</ng-container>

<ng-container *ngIf="props.buttonPosition == 'RIGHT'" >
        <span>
            <ng-container *ngIf="!isUiElm()">
                <input id="{{id}}" [(ngModel)]="values[elm]"  attr.rowno="{{index}}" (change)="setHandler()" 
                #content delegateEvent [blurEvent]="blur" [focusEvent]="focus"/>
            </ng-container> 
                
            <ng-container *ngIf="isUiElm()">
                <input id="{{id}}" [(ngModel)]="props.value"  attr.rowno="{{index}}" (change)="setHandler()"
                 #content delegateEvent [blurEvent]="blur" [focusEvent]="focus"/>
            </ng-container>
        </span>
        <span #buttonWrapper>
            <button #buttonContent (click)="buttonClickEvent($event)">
                <ng-container *ngTemplateOutlet="labelbuttonContent"></ng-container> 			
            </button>
        </span>
    </ng-container>
</ng-template>    

<ng-template #labelbuttonContent>
    <ng-container *ngIf="props.hasButtonIcon == 'Y'">
        <ng-container *ngIf="props.iconPosition == 'RIGHT'">
                <span #buttonTitle>{{props.buttonTitle.value}}</span>
						<svg aria-hidden="true" role="presentation" [attr.class]="props.buttonIcon.direct.className"> 
                            <use attr.xlink:href="{{'#'+props.buttonIcon.direct.name}}" xlink:href=""></use>
						</svg>
        </ng-container>

        <ng-container *ngIf="props.iconPosition == 'TOP'">
            <svg aria-hidden="true" role="presentation" [attr.class]="props.buttonIcon.direct.className">
                <use attr.xlink:href="{{'#'+props.buttonIcon.direct.name}}" xlink:href=""></use>
            </svg>
            <div id="{{id+'_txtcnt'}}" >{{props.buttonTitle.value}}</div>
        </ng-container>


        <ng-container *ngIf="props.iconPosition == 'BOTTOM'">
                <div id="{{id+'_txtcnt'}}" >{{props.buttonTitle.value}}</div>
            <svg aria-hidden="true" role="presentation" [attr.class]="props.buttonIcon.direct.className">
                <use attr.xlink:href="{{'#'+props.buttonIcon.direct.name}}" xlink:href=""></use>
            </svg>
        </ng-container>

        <ng-container *ngIf="props.iconPosition == 'LEFT'">
               <span class="{{props.buttonIcon.direct.className}}">
                <svg aria-hidden="true" role="presentation" [attr.class]="props.buttonIcon.direct.className" >
                    <use attr.xlink:href="{{'#'+props.buttonIcon.direct.name}}" xlink:href=""></use>
                </svg>
                </span>
                <span  #buttonTitle>{{props.buttonTitle.value}}</span>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="props.hasButtonIcon == 'N'">
            <span  #buttonTitle>{{props.buttonTitle.value}}</span>
    </ng-container>
</ng-template>

<ng-template #labelIconContent>
    <button class="ett-bttn tsp sml lbtn px20" (click)="labelIconClickEvent($event)">
        <svg [attr.class]="props.labelIconProps.direct.className" #contentIcon>
            <use attr.xlink:href="{{'#'+ props.labelIconProps.name}}" xlink:href="" />
        </svg>
    </button>
</ng-template> 