<ng-container *ngIf="props.childList!='Y'">
    <div id={{props.id}} class={{props.className}} attr.pagesize="{{props.pagesize}}">
        <ng-container [ngTemplateOutlet]="listTitle"></ng-container>
        <ng-container [ngTemplateOutlet]="listContent"></ng-container>
        <ng-container *ngIf="props.paginationStyle!='PAGE1'">
            <ng-container [ngTemplateOutlet]="paginationTemplate"></ng-container>
        </ng-container>
        </div>
</ng-container>
<ng-container *ngIf="props.childList =='Y' && rowIndex==0" >
    <div id={{props.id}} class={{props.className}} attr.pagesize="{{props.pagesize}}">
        <ng-container [ngTemplateOutlet]="listTitle"></ng-container>
        <ng-container [ngTemplateOutlet]="listContent"></ng-container>
        <ng-container *ngIf="props.paginationStyle!='PAGE1'">
            <ng-container [ngTemplateOutlet]="paginationTemplate"></ng-container>
        </ng-container>
        </div>
</ng-container>

<ng-template #listContent>
        <ul #ulWrapper>
          <ng-container *ngIf="props.targetOverlayWrapper && props.targetOverlayWrapper.direct.targetOverlayId">
            <li id={{props.id}}_dropdown  (click)="apz.toggleOverlay()" #targetOverlayWrapper>
              <input class="sub-elt" placeholder="Select Option" readOnly="readonly" (keyup)="apz.toggleOverlay()" type="text" />
              <span class="sub-elt1 etw-5">
                <svg aria-hidden="true" role="presentation" class="ett-icon icon-down px34">
                  <use xlink:href="#icon-down"></use>
                </svg>
              </span>
            </li>
          </ng-container>
          <ng-container *ngIf="metadata.multiRec == 'Y'" [ngTemplateOutlet]="listChilds"></ng-container>
          <ng-container  *ngIf="metadata.multiRec != 'Y'" [ngTemplateOutlet]="listChild"></ng-container>
			</ul>
</ng-template>
<ng-template #listChild>
 <!-- //NOSONAR --> <li [attr.id]="props.id + 'row_-1'" (click)="apz.data.selectRow($event.currentTarget,$event);apz.data.rowClicked($event.currentTarget,$event,this);" #listWrapper>
      <ng-content></ng-content>
  </li>
</ng-template>
<ng-template #listChilds>
  <ng-container *ngIf="dataRows">
    <ng-container *ngFor="let row of dataRows;let rowIndex = index">
     <!-- //NOSONAR --> <li [attr.id]="props.id + '_row_' + rowIndex" attr.rowno="{{rowIndex}}" class={{props.listWrapper.direct.className}} (click)="apz.data.selectRow($event.currentTarget,$event);apz.data.rowClicked($event.currentTarget,$event,this);" #listWrapper>
        <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{rowIndex:rowIndex,row:row}"></ng-template>
      </li>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #listTitle>
    <ng-container *ngIf="props.titleValue || props.titleIcon || props.paginationStyle === 'PAGE1'">
        <ul id={{props.id}}_title class="ttl">
                <li class="ttl-ctr">
                    <ul class="ttv">
                        <ng-container *ngIf="props.titleIcon">
                            <li class="icn">
                                <svg aria-hidden="true" [attr.class]="'ett-icon'+ props.titleIcon + props.titleIconSize">
                                    <use [attr.xlink:href]="'#'+ props.titleIcon"></use>
                                </svg>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="props.titleValue">
                            <li class="lbl">
                                <h4>{{props.titleValue}}</h4>
                            </li>
                        </ng-container>
                    </ul>
                </li>
                <ng-container *ngIf="props.paginationStyle == 'PAGE1'">
                   
                      <ng-container [ngTemplateOutlet]="paginationTemplate"></ng-container>
                </ng-container>
               </ul>
    </ng-container>
</ng-template>

<ng-template #paginationTemplate>
        <ng-container *ngIf="props.paginationStyle =='PAGE1'">
          <ng-container *ngIf="props.dynamicpagesize=='Y'">
            <ng-container [ngTemplateOutlet]="genDynamicPageSize">
            </ng-container>
          </ng-container>
        <!-- //NOSONAR -->  <li class="pgn-ctr">
          <ul class="pgn">
            <li class="pnx">
              <button id={{props.id}}_prev_btn class="ett-bttn tsp med" href="javascript:;" title="Previous" (click)="apz.data.changePage(props.id, 'P','')" aria-label="Previous page">
                      <svg aria-hidden="true" class="icon icon-chevron-left px16">
                        <use xlink:href="#icon-chevron-left" >
                        </use>
                      </svg>
                </button>
            </li>
            <li class="pcl">
              <input id={{props.id}}_cp type="text" class="pageno"
               (change)="apz.data.changePage(props.id,'S','')" 
               value={{metadata.currPage}} />
            </li>
            <li class="ptx">
              <span>/</span><span id={{props.id}}_tp>{{metadata.totalPages}}</span>
            </li>
            <li class="pnx">
              <button class="ett-bttn tsp med" id={{props.id}}_next_btn 
              href="javascript:;"
              aria-label="Next Page" (click)="apz.data.changePage(props.id,'N','')">
                <svg aria-hidden="true" class="icon icon-chevron-right px16">
                  <use xlink:href="#icon-chevron-right">
                  </use>
                </svg>
              </button>
            </li>
          </ul>
          </li>
        </ng-container>
        <ng-container *ngIf="props.paginationStyle == 'APPEND' && props.tableState === 'READONLY'">
            <ul id={{props.id}}_footer class="plml">
                <li id={{props.id}}footer_li>
                  <a id={{props.id}_loadmore_btn class="loadmore" (click)="apz.data.changePage(props.id,'P','')" href="javascript:;">Load More</a>
                  <a id={{props.id}}_loadless_btn class="loadless" (click)="apz.data.changePage(props.id,'N','')" href="javascript:;">Load Less</a>
                </li>
                <ng-container [ngTemplateOutlet]="genDynamicPageSize"></ng-container>
              </ul> 
        </ng-container>
        <ng-container *ngIf="props.paginationStyle == 'PAGE2'">
            <ul id={{props.id}}_pagination_ul class="pbtn">
                <ng-container [ngTemplateOutlet]="genDynamicPageSize"></ng-container>
                <li id={{props.id}}_pagination_li class="">
                  <a id={{props.id}}_first_btn aria-label="First Page" role="button" class="ett-bttn tsp sml" href="javascript:;" title="First" (click)="apz.data.changePage(props.id, 'F', '')">
                    <svg aria-hidden="true" class="ett-icon icon-arrow-prev px18">
                      <use xlink:href="#icon-arrow-prev"></use>
                    </svg>
                    </a>
                  <a id={{props.id}}_prev_btn aria-label="Previous Page" role="button" class="ett-bttn tsp sml" href="javascript:;" title="Previous" (click)="apz.data.changePage(props.id, 'P', '')" >
                    <svg aria-hidden="true" class="ett-icon icon-arrow-left px18">
                      <use xlink:href="#icon-arrow-left"></use>
                    </svg>
                  </a>
                  <ng-container [ngTemplateOutlet]="pageNumbers"></ng-container>
                  <a id={{props.id}}_next_btn aria-label="Next Page" role="button" class="ett-bttn tsp sml" href="javascript:;" title="Next" (click)="apz.data.changePage(props.id, 'N', '')">
                    <svg aria-hidden="true" class="ett-icon icon-arrow-right px18">
                      <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </a>
                  <a id={{props.id}}_last_btn aria-label="Last Page" role="button" class="ett-bttn tsp sml" href="javascript:;" title="Last" (click)="apz.data.changePage(props.id,'L','')">
                    <svg aria-hidden="true" class="ett-icon icon-arrow-next px18">
                      <use xlink:href="#icon-arrow-next">
                      </use>
                    </svg>
                  </a>
                </li>
              </ul>
        </ng-container>
        <ng-container *ngIf="props.paginationStyle == 'PAGE3'">
            <ul id={{props.id}}_pagination_ul class="plbl">
                <ng-container [ngTemplateOutlet]="genDynamicPageSize"></ng-container>
                <li id={{props.id}}_pagination_li class="scb-col100 rht">
                  <span id={{props.is}}_info [innerHtml]="'Showing '+(startRec+1)+' to '+ endRec+' of '+ metadata.totalRecs +' entries' "> </span> 
                  <a id={{props.id}}_prev_btn class="ett-bttn sml tsp" (click)="apz.data.changePage(props.id, 'P', '')" aria-label="Previous page" role="button">
                    <svg aria-hidden="true" class="ett-icon icon-arrow-left px14">
                      <use xlink:href="#icon-arrow-left">
                      </use>
                    </svg>
                  </a>
                  <ng-container [ngTemplateOutlet]="pageNumbers"></ng-container>
                  <a id={{props.id}}_next_btn class="ett-bttn sml tsp" (click)="apz.data.changePage(props.id, 'N', '')" aria-label="Next page" role="button">
                    <svg aria-hidden="true" class="ett-icon icon-arrow-right px14">
                      <use xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </a>
                </li>
              </ul>
        </ng-container>
    </ng-template>
    
    <ng-template #pageNumbers>
      <ng-container *ngIf="pageNumber">
        <ng-container *ngFor="let page of pageNumber;let index = index">
          <ng-container *ngIf="page == metadata.currPage">
            <a [attr.id]="props.id + '_'+(index+1)+'_btn'" class=" ett-bttn tsp sml active" (click)="apz.data.changePage(props.id,'S',$event)">{{page}}</a>
          </ng-container>
          <ng-container *ngIf="page != metadata.currPage">
            <a [attr.id]="props.id + '_'+(index+1)+'_btn'" class=" ett-bttn tsp sml" (click)="apz.data.changePage(props.id,'S',$event)">{{page}}</a>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
    
    <ng-template #genDynamicPageSize>
      <ng-container *ngIf="props.dynamicpagesize == 'Y'">
      <ng-container *ngIf="props.paginationStyle != 'PAGE1'">
        <!-- //NOSONAR -->  <li id={{props.id}}_dps_ext_li>
            <ng-container [ngTemplateOutlet]="dynamicpagesizeContent"></ng-container>
            <!-- {this.dynamicpagesizeContent(props)} -->
          </li>
      </ng-container>
      <ng-container *ngIf="props.paginationStyle == 'PAGE1'">
          <ng-container [ngTemplateOutlet]="dynamicpagesizeContent"></ng-container>
      </ng-container>
      </ng-container>
    </ng-template>
    
    <ng-template #dynamicpagesizeContent>
        <ul id={{props.id}}_dps_ul class={{pagCls}}>
            <li id={{props.id}}_dps_label>
              <p>Items Per Page</p>
            </li>
            <li id={{props.id}}_dps_li>
              <select id={{props.id}}_dps [attr.class]="'ett-slcn'+apprCls" (change)="apz.updatePaginationRecords(props.id)">
                <!-- {listOptions} -->
                <ng-container *ngFor="let option of staticOptions;let rowIndex = index">
                    <option [attr.id]="props.id + '_option_' + option.description" value={{option.value}} >{{option.description}}</option>
                </ng-container>
              </select>
            </li>
          </ul>
    </ng-template>