<ng-container *ngIf="props.cntrType=='FORM' ">
    <ul #formWrapperClass  id="{{props.id}} + _ul" clickstoppropagation>
        <li  #formlabelWrapper  >
            <ng-container *ngIf="(props.hasLabelIcon === 'Y' && props.labelIconProps.iconPos==='LEFT')"  [ngTemplateOutlet]="labelIconContent">
            </ng-container>

            <label #formlabelProps [innerHtml]="props.labelProps.title">                
            </label>

            <ng-container *ngIf="(props.hasLabelIcon === 'Y' && props.labelIconProps.iconPos!=='LEFT')"  [ngTemplateOutlet]="labelIconContent">
            </ng-container>
        </li>
        <li #formContentWrapper >
            <span #formSpanWrapper >
                <span className={props.spanWrapper.className} >
                   <ng-content></ng-content>                
                    <ng-container *ngIf="props.HintRequired == 'Y'">
                        <span [id]="props.content.direct.id + '_hnt'" className="htx">{{props.hintValue}}</span>
                    </ng-container>
                </span>
            </span>
        </li>
    </ul>
</ng-container>


<ng-template #labelIconContent>
    <button class="ett-bttn tsp sml lbtn px20" (click)="iconClickEvent($event)">
        <svg [attr.class]="props.labelIconProps.direct.className" #contentIcon>
            <use attr.xlink:href="{{'#'+ props.labelIconProps.name}}" xlink:href="" />
        </svg>
    </button>
</ng-template>
