<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
          package="com.iexceed.appzillonapp"
          android:installLocation="auto"
          android:versionCode="ANDVERSIONCODE"
          android:versionName="APPVERSION">
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
<permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>

    <application android:usesCleartextTraffic="true" android:name="androidx.multidex.MultiDexApplication" android:resizeableActivity="false" android:icon="@drawable/appicon" android:roundIcon="@drawable/appicon" android:label="APPZILLONAPPDISPLAYNAME" android:theme="@style/Theme.AppCompat.Light" android:requestLegacyExternalStorage="true" android:allowAudioPlaybackCapture="false" android:useEmbeddedDex="true"
                tools:replace="android:icon,android:roundIcon,android:label,android:theme,android:allowBackup,android:name" android:allowBackup="false" tools:targetApi="m">
               <activity android:name=".ShortcutTrampolineActivity" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>
        <activity
            android:name=".AppzillonMainScreen"
			android:exported = "true"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:label="APPZILLONAPPDISPLAYNAME"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>
        <activity android:name="com.iexceed.plugins.autocapturedocument.LiveObjectDetectionActivity" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name="com.iexceed.plugins.autocapturedocument.ImagePreviewActivity" android:theme="@style/Theme.AppCompat.NoActionBar"></activity> 
  <activity android:name="com.iexceed.plugins.selfiecapture.LivePreviewActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.iexceed.plugins.selfiecapture.ImagePreviewActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait">
        </activity>       
        <activity
            android:name="CreateNote"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:theme="@style/CustomTheme" >
        </activity>
        <activity
            android:name="com.iexceed.plugins.video.VideoCaptureActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/CustomTheme">
        </activity>
        <activity
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:name="com.iexceed.plugins.camera.NativeCamera">
        </activity>

        <activity android:name="com.iexceed.plugins.barcode.BarcodeActivity">
        </activity>
        <activity
            android:name="com.iexceed.plugins.fileoperation.DirectoryBrowser"
            android:configChanges="locale|orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.iexceed.plugins.map.Map"
            android:configChanges="locale|orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.iexceed.plugins.map.DrivingDirection"
            android:configChanges="locale|orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.iexceed.plugins.map.SelectionMap"
            android:configChanges="locale|orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.iexceed.plugins.signature.CaptureSignature"
            android:configChanges="locale|orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.iexceed.plugins.nfc.WriteNFCActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:exported="false" >
        </activity>
        <activity
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:name="com.iexceed.plugins.launchwebview.LaunchWebviewActivity">
        </activity>
        <activity
			android:exported="false"
            android:name="com.iexceed.plugins.nfc.ReadNFCActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize">
           
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
			android:exported="false"
            android:name="com.iexceed.plugins.nfc.NFCDeviceActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.augmentedreality.ARActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation= "portrait" >
        </activity>
        
        <activity android:name="com.scanlibrary.ScanActivity"/>

        <activity
            android:name="com.iexceed.plugins.printfile.PrintDialogActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"/>

	 <activity android:name="com.iexceed.plugins.dataSecurity.ApzBiometricActivty" android:theme="@style/BiometricTheme"/>


        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

        <provider
            android:name="com.iexceed.common.LegacyCompatFileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                  android:theme="@style/Base.Theme.AppCompat"/>

	<receiver android:name="com.iexceed.plugins.notification.NotificationReceiver" android:exported="false">
		<intent-filter>
		<action android:name="com.broadcast.notification"/>
		</intent-filter>
	</receiver>
        <service android:name="com.iexceed.plugins.realtimetracklocation.TrackLocationService" />
	<!--APPZILLONACTIVITYPROPS-->
	<!--added to qualify for API 28-->
	<uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
	<!--APPZILLONOTHERPROPS-->
	<uses-permission android:name="android.permission.USE_BIOMETRIC"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

</manifest>
