<ng-container *ngIf="props.cntrType=='FORM'">
    <ul id="{{props.id}}_ul" #wrapperClasses clickstoppropagation>
		<li #labelWrapper >
			<ng-container *ngIf="(props.hasLabelIcon === 'Y' && props.labelIconProps.iconPos==='LEFT')"  [ngTemplateOutlet]="labelIconContent">
            </ng-container>
			<label #labelProps [innerHtml]="props.labelProps.title">
            </label>
            <ng-container *ngIf="(props.hasLabelIcon === 'Y' && props.labelIconProps.iconPos!=='LEFT')"  [ngTemplateOutlet]="labelIconContent">
            </ng-container>
        </li>
        <li #contentWrapper>
            <span #spanWrapper>
                <ng-container *ngTemplateOutlet="sliderContent"></ng-container>    
            </span>
                    <ng-container *ngIf="props.SliderHintRequired == 'Y'">
                        <span id="{{id+'_hnt'}}" class="htx">{{props.SliderHint.value}}</span>
                    </ng-container>
            
		</li>
	</ul>
</ng-container>

<ng-container *ngIf="props.cntrType == 'NAVBAR' || props.cntrType == 'LIST'">
                <span class="{{props.spanWrapper.class}}" #spanWrapper>
                    <ng-container *ngTemplateOutlet="sliderContent"></ng-container>     
                </span> 
                
                <ng-container *ngIf="props.SliderHintRequired == 'Y'">
                        <span id="{{id+'_hnt'}}" class="htx">{{props.SliderHint.value}}</span>
                </ng-container> 
</ng-container>

<ng-container *ngIf= "props.cntrType=='TABLE'">
    <td [attr.id]="(rowIndex != undefined) ?('td_'+ props.id + '_' + rowIndex):('td_'+ props.id)" class="{{props.tdClasses}}">
            <span [id]="(rowIndex != undefined) ?(props.id + '_span_'+ rowIndex):(props.id + '_span')" #spanWrapper>
                <ng-container *ngTemplateOutlet="sliderContent"></ng-container>
            </span> 
            <ng-container *ngIf="props.SliderHintRequired == 'Y'">
                <span id="{{id+'_hnt'}}" class="htx">{{props.SliderHint.value}}</span>
            </ng-container>
    </td>
</ng-container>

<ng-template #sliderContent>
    <ng-container *ngIf="!isUiElm()">
        <input [id]="id" type="range" (change)="setValue(props, $event);setHandler()" [(ngModel)]="values[elm]"
        [attr.rowno]="index" #content delegateEvent [blurEvent]="blur" [focusEvent]="focus" />
    </ng-container> 
            
    <ng-container *ngIf="isUiElm()">
        <input [id]="id" type="range" (change)="setValue(props, $event)" [(ngModel)]="props.value"
        [attr.rowno]="index" #content delegateEvent [blurEvent]="blur" [focusEvent]="focus"/>
    </ng-container> 
</ng-template>


<ng-template #labelIconContent>
    <button class="ett-bttn tsp sml lbtn px20" (click)="iconClickEvent($event)">
        <svg [attr.class]="props.labelIconProps.direct.className" #contentIcon>
            <use attr.xlink:href="{{'#'+ props.labelIconProps.name}}" xlink:href="" />
        </svg>
    </button>
</ng-template> 