<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto" android:versionCode="ANDVERSIONCODE" android:versionName="APPVERSION" package="com.iexceed.appzillonapp">

    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>

    <application android:allowBackup="false" android:icon="@drawable/appicon" android:label="APPZILLONAPPDISPLAYNAME" android:resizeableActivity="false" android:roundIcon="@drawable/appicon" android:theme="@style/Theme.AppCompat.Light" android:usesCleartextTraffic="true" tools:replace="android:icon,android:roundIcon,android:label,android:theme,android:allowBackup" tools:targetApi="m">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="APPZILLONAPPDISPLAYNAME" android:name=".AppzillonMainScreen" android:theme="@style/SplashTheme" android:windowSoftInputMode="adjustResize">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="CreateNote" android:theme="@style/CustomTheme">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.video.VideoCaptureActivity" android:screenOrientation="landscape" android:theme="@style/CustomTheme">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.camera.NativeCamera">
        </activity>

        <activity android:name="com.iexceed.plugins.barcode.BarcodeActivity">
        </activity>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="portrait" tools:replace="android:screenOrientation"/>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.fileoperation.DirectoryBrowser">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.map.Map">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.map.DrivingDirection">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.map.SelectionMap">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.signature.CaptureSignature">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:exported="false" android:name="com.iexceed.plugins.nfc.WriteNFCActivity">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.launchwebview.LaunchWebviewActivity">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:exported="false" android:name="com.iexceed.plugins.nfc.ReadNFCActivity">
           
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="APPZILLONAPPDISPLAYNAME" android:name="com.iexceed.plugins.socialmedia.TwitterAuth" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:exported="false" android:name="com.iexceed.plugins.nfc.NFCDeviceActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.augmentedreality.ARActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.socialmedia.FacebookAuth">
        </activity>
        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.socialmedia.LinkedinAuth">
        </activity>

	 <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.socialmedia.GoogleAuth"/>
        <activity android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="APPZILLONAPPDISPLAYNAME" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.scanlibrary.ScanActivity"/>

        <activity android:configChanges="locale|orientation|keyboardHidden|screenSize" android:name="com.iexceed.plugins.printfile.PrintDialogActivity"/>

	 <activity android:name="com.iexceed.plugins.dataSecurity.ApzBiometricActivty" android:theme="@style/Theme.AppCompat.Light.Dialog"/>


        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/FACEBOOKID"/>

        <meta-data android:name="io.fabric.ApiKey" android:value="@string/TWITTERKEY"/>

        <provider android:authorities="com.iexceed.common.LegacyCompatFileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.iexceed.common.LegacyCompatFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>

	<receiver android:exported="false" android:name="com.iexceed.plugins.notification.NotificationReceiver">
		<intent-filter>
		<action android:name="com.broadcast.notification"/>
		</intent-filter>
	</receiver>
        <service android:name="com.iexceed.plugins.realtimetracklocation.TrackLocationService"/>
	<!--APPZILLONACTIVITYPROPS-->
	<!--added to qualify for API 28-->
	<uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
	<!--APPZILLONOTHERPROPS-->
</manifest>
